body {
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    background: #f3f7ff;
}

/* India Flag Heading */
.top-header {
    background: linear-gradient(90deg, #FF9933, #FFFFFF, #138808);
    padding: 25px 0;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 4px solid #000080;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/* Horizontal Menu */
.menu {
    display: flex;
    justify-content: center;
    background: #003f7f;
    padding: 12px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover {
    color: #ffda44;
}

/* Section box design */
.section-box {
    width: 85%;
    margin: 25px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.section-box h2 {
    text-align: center;
    color: #003f7f;
    font-size: 27px;
    margin-bottom: 12px;
}
